
<style type = "text/css">
div.content
{
width:500px;
padding:10px;
border-radius: 15px;
background-color:#bababa;
margin:0px;
}

div.subcontent
{
width:300px;
padding:10px;
border-radius: 15px;
background-color:#868686;
margin:0px;
}
</style>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_user %>
  <% if current_user.email == @user.email%>
<h1>Edit your profile!</h1>
	<br>
<div class="content">
		<%=@user.email%>
    </div>
    </div>
    <br>
	<div class="content">
	  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
    </div>
    </div>
    <br>
  <p class="button"><%= f.submit %></p>
  

  	<%else%>
  
  	<h1> You do not have access to this page! </h1>
  	


<% end %>



<%else%>
  
  	<h1> You do not have access to this page! </h1>
  	
<% end %>

<% end %>