<html>


<style type="text/css">div.content
{
background-color:#bababa;
width:220px;
padding:10px;
border:5px solid gray;
margin:0px;
}
div.bio{
background-color:#bababa;
width:300px;
padding:10px;
border:5px solid gray;
margin:0px;
}
</style>
<div class="row-fluid">
  <div class="span12">
   <div align=center>

<p id="notice"><%= notice %></p>

<p>

  <tr>
  <div class = "content">
  	<td><b><p>Username:</b></td>
    <td><b><p><%= simple_format(@user.email) %> <%= image_tag @user.gravatar_url %></b></td>
	

    


</div>









</p>
    <div class="row-fluid">
    
      <div align="center"> <div class = "bio"><b>Bio:</b><p> <%=simple_format( @user.bio )%></p></div></div>


    </div>
  
</div>





</div>
  <% if current_user %>
	  <% if current_user.email == @user.email%>

	<%= link_to "Edit your profile!", edit_user_path %>

<%end%>
<%end%>

</html>