<style type="text/css">
div.content
{
width:500px;
padding:10px;
border-radius: 15px;
background-color:#bababa;
margin:0px;
}

div.subcontent
{
width:300px;
padding:10px;
border-radius: 15px;
background-color:#868686;
margin:0px;
}
</style>

<%= form_for(@post) do |f| %>
 	  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <div class="content">
    <h2><%= f.label :creator%></h2>
    <%= f.text_field :name  %> 
  </div>
  </div>
  <br>
  <div class="field">
    <div class="content">
    <h2><%= f.label :title %></h2>
    <%= f.text_field :title %>
  </div>
  </div>
  <br>
  <div class="field">
    <div class="content">
    <h2><%= f.label :content %></h2>
    <%= f.text_area :content %>
  </div>
  </div>
  <br>
  <div class="field">
    <div class="content">
   <h2><%= f.label :location %></h2>
    <%= f.text_field :location %>
  </div>
  </div>
  <br>
   <div class="field">
     <div class="content">
  <h2><%= f.label :syntax %></h2>

  <%= f.select( :syntax, Post::SYNTAX) %>
</div>
 </div>
 <br>
 <div class="field">
     <div class="content">
  <h2><%= f.label :listing %></h2>

  <%= f.select( :listing, Post::LISTING) %>
</div>
 </div>
 <br>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
