
<html>
<link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>

<style type="text/css">
div.content
{
width:500px;
padding:10px;
border-radius: 15px;
background-color:#bababa;
margin:0px;
}

div.subcontent
{
width:300px;
padding:10px;
border-radius: 15px;
background-color:#868686;
margin:0px;
}

div.page
{
width:800px;
padding:10px;
border:5px solid gray;
background-color:#bababa;
margin:0px;
}

div.box
{
width:600px;
padding:10px;
border:5px solid gray;
background-color:#959595;
margin:0px;
}
</style>
<% if current_user.email == "CodeShare"%>
<td><%= link_to 'Delete', @post, :confirm => 'Are you sure?', :method => :delete %></td>
<%end%>
  </tr>
<div align=center>

<p id="notice"><%= notice %></p>



<p>
  
  <h1><%= @post.title %> </h1>
  
</p>

<p><div class="content">
  <h4><b>Creator:</b></h4>
  <div class="subcontent"><%= @post.name %> </div></div>
</p><div class="content">
<h4><b>Syntax:</b></h4>
  <div class="subcontent"><%=simple_format(@post.syntax )%></div></div>
<p><div class="content">
  <h4><b>Content:</b></h4>

    <div class="subcontent"><div align = left><pre><%=@post.content%></pre></div></div></div>
</p>
<p><div class="content">
  <h4><b>Location:</b></h4>
  <div class="subcontent"><%= @post.location %></div></div>

</div>
<%=facebook_like%>
</div>

</html>