
<html>


<style type="text/css">
div.content
{
width:500px;
padding:10px;
border:5px solid gray;
background-color:#bababa;
margin:0px;
}

div.box
{
width:600px;
padding:10px;
border:5px solid gray;
background-color:#959595;
margin:0px;
}
</style>

<div align=center>

<p id="notice"><%= notice %></p>



<p>
  
  <h1><%= @post.title %></h1>
</p>

<p>
  <h4><b>Creator:</b></h4>
  <div class="content"><%= @post.name %></div>
</p>
<h4><b>Syntax:</b></h4>
<div class="content"><%=simple_format(@post.syntax )%></div>
<p>
  <h4><b>Content:</b></h4>
 </div>
  <div class="content"><%=simple_format(@post.content )%></div>
</p>
<p>
  <h4><b>Location:</b></h4>
  <div class="content"><%= @post.location %></div>
</p>




</p>
	
</div>
</html>