<!DOCTYPE html>
<html>
<head>
<img src="/images/seperator.png">
  <title>CodeShare - CodePasting Tool</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</style>

<script type="text/javascript">
function placeIt() {
if (!document.all) {
document.getElementById("top_bar").style.top = window.pageYOffset +"px"; // For Mozilla etc.
document.getElementById("loginbox").style.top = window.pageYOffset +"px"; // For Mozilla etc.
} else {
document.getElementById("top_bar").style.top = document.documentElement.scrollTop +"px"; // For the IE...
document.getElementById("loginbox").style.top = document.documentElement.scrollTop +"px"; // For the IE...
}

}
</script>
  
</div>
</div>
</head>



<body onload="placeIt()">

	
	<div id="top_bar">
	
  <div align=center>
  

<%= link_to image_tag("/images/head.png", :border => 
0 ), root_path , :title => "title text" %> 

  <% if current_user %>
  	<%= link_to "Current posts", posts_path %> --
  	
    Logged in as <%= link_to current_user.email, current_user %> --
    <%= link_to 'New Code', new_post_path %> --
    <%= link_to "Log out", log_out_path %> 
    
  	<% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
	  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
	
	
	


    



</div>
</div>
<div align=center>
	<div id="user_nav">
 
  <%= yield %>
</div>
</div>

</body>

<footer onLoad="placeIt()">

<hr size=2>
<div align=center>
  <h6>CodeShare, Inc. The open-source pastebin.</h6>
  </div>
</footer>
</html>
