<!DOCTYPE html>

<html>
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<head>
<style type="text/css">
h3{font-family: 'Oxygen', sans-serif;}

</style>
<img src="/images/seperator.png">
  <title>CodeShare - CodePasting Tool</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</style>

<script type="text/javascript">
function placeIt() {
if (!document.all) {
document.getElementById("top_bar").style.top = window.pageYOffset +"px"; // For Mozilla etc.
document.getElementById("loginbox").style.top = window.pageYOffset +"px"; // For Mozilla etc.
} else {
document.getElementById("top_bar").style.top = document.documentElement.scrollTop +"px"; // For the IE...
document.getElementById("loginbox").style.top = document.documentElement.scrollTop +"px"; // For the IE...
}

}
</script>
  
</div>
</div>
</head>



<body onload="placeIt()">

	
	<div id="top_bar">
	
  <div align=center>
  


<%= link_to image_tag("/images/head.png", :border => 
0 ), root_path , :title => "Home Page" %> 
<h3>
  <% if current_user %>
  	<%= link_to 'All Codes', posts_path %>  --
  	
    Logged in as <%= link_to current_user.email, current_user %>--
    <%= link_to 'New Code', new_post_path %> --
    <%= link_to "Log out", log_out_path %> 
    
  	<% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
	  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

	</h3>
	


</div>
<!-- LOGIN AND SIGN UP BUTTONS -->
<!--
<a href="http://184.167.244.157:3000/sign_up"><img src="/images/buttons/minibutton_register.png"></a>
<a href="http://184.167.244.157:3000/log_in"><img src="/images/buttons/minibutton_login.png"></a>
-->
</div>

<div align=center>
	<div id="user_nav">
 
  <%= yield %>
</div>
</div>

</body>

<footer onLoad="placeIt()">


<div align=center>

    <h6>Made with love (<3) by <a href="http://twitter.com/thatredant">@ThatRedAnt, </a>
 <a href="http://twitter.com/des_alex">@Des_alex, </a>  & 
          <a href="http://twitter.com/squintyeyed">@SquintyEyed. </a></h6>
  </div>
  <br>
</footer>
</html>
